<h1>New Integration</h1>
<form action="/integration" method="post">
  Name:<br>
  <input type="text" name="company"><br>
  Company:<br>
  <input type="text" name="name"><br>
  Due date:<br>
  <input type="datetime-local" name="due_date"><br><br>
  <input type="submit" value="Create Integration">
</form><br>
