<h1>Signup</h1>
<form action"/signup" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  Company:<br>
  <input type="text" name="company"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Signup">
</form><br>
Already have an account? <a href="/login">Login here</a>
